* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; /* For iOS Safari */
    tap-highlight-color: transparent; /* For modern browsers */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar {
    background-color: #007bff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.app-name {
    font-size: 20px;
}

.user-profile {
    font-size: 16px;
}

.side-nav {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    padding-top: 60px;
    transition: left 0.3s ease;
}

.side-nav .container {
    text-align: center;
}

.side-nav h2 {
    margin-bottom: 20px;
}

.nav-buttons button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #0056b3;
}

.about {
    margin-top: 100px;
    text-align: center;
}

.about h1 {
    color: #333;
    margin-bottom: 20px;
}

.about p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}
